<div class="statisticsPageTitle p-5 mb-3 d-flex flex-column align-items-center">
  <h1 class="fw-bolder">Statistics</h1>
</div>
<div class="ms-4 mt-5 me-4">
  <h2 class="fw-bolder"><u>All packages in progress</u></h2>
  <div id="chart-container" class="p-4 d-inline-block"></div>
  <h2 class="fw-bolder"><u>Specific package in progress</u></h2>
  <div ngbDropdown class="d-inline-block mt-3">
    <button type="button" class="btn btn-outline-primary mb-3" id="choosePackages" ngbDropdownToggle>
      Choose a specific package in progress
    </button>
    <div ngbDropdownMenu aria-labelledby="choosePackages">
      <button ngbDropdownItem
              *ngFor="let learningPackage of startedLearningPackages"
              (click)="loadTimeChart(learningPackage.packageId)">{{ learningPackage.packageName }}
      </button>
    </div>
  </div>
  <div id="time-container" class="d-inline-block p-4"></div>
</div>

