<div class="statisticsPageTitle p-5 mb-3 d-flex flex-column align-items-center">
  <h1 class="fw-bolder">Statistics</h1>
</div>
<div class="ms-4 mt-5 me-4">
  <h2 class="fw-bolder"><u>All started packages</u></h2>
  <div id="chart-container" class="p-4 d-inline-block"></div>
  <h2 class="fw-bolder"><u>Specific packages</u></h2>
  <div ngbDropdown class="d-inline-block mt-3">
    <button type="button" class="btn btn-outline-primary" id="choosePackages" ngbDropdownToggle>
      Choose a specific package
    </button>
    <div ngbDropdownMenu aria-labelledby="choosePackages">
      <button ngbDropdownItem
              *ngFor="let learningPackage of startedLearningPackages">{{ learningPackage.packageName }}
      </button>
    </div>
  </div>
</div>

