.homePageTitle{
  background-color: bisque;
}

.card{
  background-color: bisque;
  margin: 10px;
  padding: 20px;
}

.app-border {
  border-style: solid;
  border-width: 1pt;
}

.package-info {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
