<nav class="navbar navbar-expand-lg navbar-dark bg-dark ps-4">
  <a class="navbar-brand" href="#">Home</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/study-page">Browse packages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/statistics">Statistics</a>
    </li>
    <li ngbDropdown class="nav-item">
      <a ngbDropdownToggle id="createMenu" class="nav-link" style="cursor: pointer">Create</a>
      <div ngbDropdownMenu aria-labelledby="createMenu">
        <a class="dropdown-item" href="#" routerLink="/create-package-card">Create a package</a>
        <a class="dropdown-item" href="#" routerLink="/create-learning-fact">Create a fact for a package</a>
      </div>
    <li ngbDropdown class="nav-item">
      <a ngbDropdownToggle id="modifyMenu" class="nav-link" style="cursor: pointer">Modify</a>
      <div ngbDropdownMenu aria-labelledby="modifyMenu">
        <a class="dropdown-item" href="#" routerLink="/modify-learning-package">Modify a package</a>
        <a class="dropdown-item" href="#" routerLink="/modify-learning-fact">Modify a fact in a package</a>
      </div>
    </li>
    <li ngbDropdown class="nav-item">
      <a ngbDropdownToggle id="deleteMenu" class="nav-link" style="cursor: pointer">Delete</a>
      <div ngbDropdownMenu aria-labelledby="deleteMenu">
        <a class="dropdown-item" href="#" routerLink="/delete-learning-package">Delete a package</a>
        <a class="dropdown-item" href="#" routerLink="/delete-learning-fact">Delete a fact in a package</a>
      </div>
    </li>
  </ul>
</nav>
