<div class="create-fact-form">
  <h2>Create New Learning Fact</h2>
  <form (ngSubmit)="createFact()">

    <div class="form-group">
      <label for="factQuestion">Fact Question:</label>
      <input type="text" id="factQuestion" class="form-control"
             [(ngModel)]="newFact.factQuestion" placeholder="Enter a question" name="factQuestion" required>
    </div>


    <div class="form-group">
      <label for="factAnswer">Fact Answer:</label>
      <input type="text" id="factAnswer" class="form-control"
             [(ngModel)]="newFact.factAnswer" placeholder="Enter the answer" name="factAnswer" required>
    </div>


    <div class="form-group">
      <label for="packageSelect">Select Package:</label>
      <select id="packageSelect" class="form-control"
              [(ngModel)]="newFact.packageId" name="packageId" required>
        <option value="" disabled>Select a Package</option>
        <option *ngFor="let package of learningPackages" [ngValue]="package.packageId">
          {{ package.packageName }}
        </option>
      </select>
    </div>


    <button type="submit" class="btn-create">Create Fact</button>
  </form>
</div>
